th, td{
    border: 3px solid black;
    border-style: initial;
    border-radius: 5px;
    text-transform: uppercase;
}
table{
    font-size: 20px;
    border-radius: 8px;
    border-color: blue;
    background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
    height: auto;
    width: auto;
}
th, td{
    border-radius: 6px;
    text-align: center;
}
th{
    font-style: italic;
}
td{
    font-style: oblique;
}